@model westcoast_education.web.ViewModels.StudentDetailsViewModel

<h1>Elevinformation</h1>

<div class="details-coloumn">
    <div class="details-row">
        <h2>Namn: </h2><h2 class="header-info">@Model.FirstName - @Model.LastName</h2>
    </div>
</div>