<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://kit.fontawesome.com/2575039bd5.js" crossorigin="anonymous"></script>
    <title>@ViewBag.PageTitle - Westcoast Education</title>
    <link rel="stylesheet" href="~/css/landing-page.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/navigation.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/courses.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/students.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/teachers.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/members.css" asp-append-version="true" />
    @RenderSection("styles", false)
</head>
<body>
    <header>
        <navbar>
            <ul class="nav-list">
                <li class="nav-item"><a asp-action="Index" asp-controller="Home"><i class="fa-solid fa-chalkboard-user"></i>&nbsp;&nbsp;&nbsp;<b>Westcoast Education</b></a></li>
                <li class="nav-item"><a asp-action="Index" asp-controller="Home">Start</a></li>
                <li class="nav-item"><a asp-action="Index" asp-controller="Courses">Kurser</a></li>
                <li class="nav-item"><a asp-action="Index" asp-controller="Teachers">Lärare</a></li>
                <li class="nav-item"><a asp-action="Index" asp-controller="Students">Studenter</a></li>
            </ul>
        </navbar> 
    </header>
    <main>
        @RenderBody()
    </main>
</body>
</html>
