@section styles{
    <link rel="stylesheet" href="~/css/landing-page.css"/>
}

<div class="landing">
    <div class="content">
        <h1>Välkommen till Westcoast Education</h1>
        <h2>Vi har har utbildningen för dig</h2>
        <p>Få tillgång till gedigen utbildning vart ifrån du vill</p>
    </div>
</div>